* {
    text-align: center;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    font-size: 2vw;
}

body {
    font-family: Arial;
    font-size: 0.7em;
    padding:2%;
}

label {
    display: block;
    margin: 5px 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 5px;
    border-bottom: 1px solid #aaa;
    float: left;
}

ul,
li, a {
    color: #36c5f0;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}

ul {
    float: left;
}
.title {
    color: #ffc7ed;
    position: absolute;
    top:50%;
    padding-left: 40%;
}

.main {
    padding: 10%;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-height: 680px;
    z-index: -1;
}

.content {
    position:absolute;
    top:80%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    font-size: 16pt;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}
.container > div > img {
    width: 96%;
    height: 100%;
    object-fit: cover;
 
}
